extends layout

block content
  h1 Truco
  // Interface jugador 1
  if (!user)
    h3 Player 1
    a(href="/login")
      button.btn.btn-primary(type="button") Login 
    a(href="/register")
      button.btn.btn-primary(type="button") Register 
  if (user)
    h3 #{user.username}
    a(href="/logout") 
      button.btn.btn-primary(type="button") Logout
  
  //interface jugador 2
  if (!guest)
    h3 Player 2
    a(href="/loginGuest")
      button.btn.btn-primary(type="button") Login a guest
  if (guest)
    h3 #{guest.username}

  // si ambos estan logueados podemos arrancar
  if (user && guest)
    h1 Jugar
    a(href="/play") 
      button.btn.btn-primary(type="button") #{user.username} VS. #{guest.username}
