doctype html
html(lang="en")
  head
    title Truco
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='http://www.olimpiadas2011.org.ar/wp-content/uploads/2011/04/truco-180x180.png')
  body
    block content
  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
