extends layout

block content
  h1(class="header") Lobby
  
  div(class="center")
    h3 #{user.username}
      br
      div(class="group-vertical")
        br
        a(href="/lobby/newgame")
          button.btn.btn-primary(type="submit") NewGame
        br
        a(href="/")
          button.btn.btn-primary(type="button") Return
  
  div(class="center")
    h3 Games
    a(id="game") hola

  
  script.
    var games=[];
    function updateGames(gameList) {
        games=gameList;
        var g = document.getElementById("game");
        var url = window.location.href;
        var home = url.split('/') [2];
        g.innerHTML = '<div class="btn-group-vertical">';
        games.forEach(load);
        g.innerHTML = g.innerHTML+'</div>'
        function load(item,index) {
            g.innerHTML = g.innerHTML+'<a type="button" class="btn btn-primary" href="http://'+home+'/lobby/join?gameId='+games[index].id+'">'+games[index].name+'</a><br>'
        }
    }
    
    $( document ).ready(function() {
        socket.emit('load games', {id: socket.id });
    });
    
    
    socket.on('load games successful',function (data) {
        updateGames(data.list)
    })
    
    
