extends layout

block content
  h1(class="header") Lobby
  
  #left-column.column
    h3 #{user.username}
      br
      div(class="group-vertical")
        br
        a(href="/lobby/newgame")
          button.btn.btn-primary(type="submit") NewGame
        br
        a(href="/")
          button.btn.btn-primary(type="button") Return
  

  
  script.
    var games=[];
    function updateGames(gameList) {
        games=gameList;
        var g = document.getElementById("game");
        g.innerHTML = "<br>";
        games.forEach(load);
        function load(item,index) {
            g.innerHTML = g.innerHTML+'<button onclick="chooseGame('+index+')" type="button" class="btn btn-primary">'+games[index].name+'</button><br>'
        }
    }
    
    function chooseGame(index) {
        //var usuario = #{user}._id;
        socket.emit("let's play",{
            gameId:games[index].id,
            //user:#{user},
        })
        window.alert(games[index].id);
    }
    
    $( document ).ready(function() {
        socket.emit('load games', {id: socket.id });
    });
    
    
    socket.on('load games successful',function (data) {
        updateGames(data.list)
    })
    
    
  #right-column.column
    h1(id="game") hola
