extends layout

block content
  h1(class="header") Lobby
  
  #left-column.column
    h3 #{user.username}
      br
      div(class="group-vertical")
        br
        a(href="/lobby/newgame")
          button.btn.btn-primary(type="submit") NewGame
        br
        a(href="/")
          button.btn.btn-primary(type="button") Return
  


  script(src="/socket.io/socket.io.js")
  
  script.
    var socket = io();
    socket.on("juego nuevo",function (juego) {
        console.log("sfmighevheybueymsiuyif");
        $("li").append($("<li>").text(juego.name));
    })

  ul(id="gamelist") game list
    li
  
