extends layout
block content
  .container
  h1 Guest login page
  p.lead Truco
  br
  form(role='form', action="/loginGuest",method="post", style='max-width: 300px;')
    .form-group
      input.form-control(type='text', name="username", placeholder='Guest name')
      button.btn.btn-primary(type='submit') Submit
      a(href='/')
        button.btn.btn-default(type="button") Cancel
