extends layout

block content
  h1(class="header") Choose a player
  for player in list
    br
    a(href="#")
      button.btn.btn-primary(type="submit" value="#{player}") #{player}
  else
    h2 Sorry, no players founds!
