extends layout
block content
  h1(class="header") Waiting for opponent
  script.
    var url = window.location.href;
    var getQuery = url.split('?')[1];
    var params = getQuery.split('&');
    gameId = params[0];
    socket.on(gameId,function (data) {
        var url = window.location.href;
        var home = url.split('/') [2];
        var playRef = "http://"+ home + "/play?" + gameId;
        console.log(playRef);
        window.location.href = playRef;
    })
