extends layout
block content
  h1(class="header") Waiting for opponent

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    socket.on("let's play",function (gameId) {
        //res.redirect("/play?gameId="+gameId)
        console.log("lets play emitido");
        var g = document.getElementById("boton");
        g.innerHTML = "<button type='submit' class='btn btn-primary>let s play</button>";
        games.forEach(load);
        function load(item,index) {
            g.innerHTML = g.innerHTML+'<button onclick="chooseGame('+index+')" type="button" class="btn btn-primary">'+games[index].name+'</button><br>'
        }
    })
  a(id="boton")
