extends layout
block content
  .container
  .row
    svg(viewbox='0 0 1920 600')
      symbol#s-text
        text(text-anchor='middle', x='50%', y='80%') Esperando oponente... 
      g.g-ants
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
  script.
    var url = window.location.href;
    var getQuery = url.split('?')[1];
    var params = getQuery.split('&');
    gameId = params[0];
    socket.on(gameId,function (data) {
        var url = window.location.href;
        var home = url.split('/') [2];
        var playRef = "http://"+ home + "/play?" + gameId;
        console.log(playRef);
        window.location.href = playRef;
    })
  a(id="boton")
