body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/simple.png');
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.win {
    background-image: url('../images/win.jpg');
    text-decoration-color: white;
}



#container {
  width: 1000px;
  margin: 25px auto;
}
.column {
  float: left;
  text-align: center;
}
#left-column {
  float: left;
  width: 300px;
}

#right-column {
  float: right;
  width: 300px;
}

a {
  color: #00B7FF;
}

.header {
    position: absolute;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */

}
