@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  margin: auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpg');
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#win {
    width:200px;
    margin: auto;
    height: auto;
}



#container {
  width: 1000px;
  margin: 25px auto;
}
.column {
  float: left;
  text-align: center;
}
#wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 50%;
}

#left, #center, #right {
    top: 0;
    padding: 10px;
}

.alertas {
  width: 110px;
}

a {
  color: #00B7FF;
}

.center {
    margin: inherit;
    background-image: url('../images/green.jpg');
    border-radius: 25px;
    /*background: #73AD21;*/
    padding: 20px;
    width: 330px;
    height: 50%;
    border: 3px solid black;
}

#carta{
    margin: auto;
    width="65";
    height="90";
}
#puntos{
    background-image: url('/images/note.png');
    width: 93px;
    height: 50%;
    background-size: contain;
    padding-top: 26px;
    font-family: "Brush Script MT",cursive;
    background-repeat: no-repeat;
}

.mesa{
    /*padding: 20px;*/
    background-image: url("/images/wood.png");
    background-repeat: no-repeat;
    float: right;
    background-size: 100% 100%;
    border-radius: 25px;
    margin: auto;
    height: 260px;
    width: 500px;
}

.header {
    position: absolute;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */

}
#notifications{
    text-align: right;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
