body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('simple.png');
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}


#container {
  width: 1000px;
  margin: 25px auto;
}
.column {
  float: left;
  text-align: center;
}
#left-column {
  float: left;
  width: 300px;
}

#right-column {
  float: right;
  width: 700px;
}

a {
  color: #00B7FF;
}
